<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/header') %>
        </header>
        <!-- slide -->
        <%- include('../partials/carousel') %> 
        </header>
        <!-- // slide -->

        <!-- img publicidad -->
        <section>
            <img class="banner_publicidad" src="/images/banner-ofertas.jpg">
        </section>

        <!-- card products -->
        <h1 class="title-section">Ultimos ingresos de Temporada</h1>
        <section class="main-section">
            <div class="product-container">
                <div class="products">
                    <% products.forEach(product => { %>
                        <div class="product">
                            <!--esto esta relacionado con js-->
                            <div class="product-under">
                                <figure class="product-image">
                                    <% if (product) { %>
                                        <img src="/images/products/<%= product.images[0].name%>">
                                        <% } %>
                                            <div class="product-over">
                                                <button class="btn btn-small addToCart" data-product-id="3">
                                                    <i class="fas fa-cart-plus"></i>Add to cart
                                                </button>
                                                <a href="/products/<%= product.id %> "
                                                    class="btn btn-small">More Info</a>
                                            </div>
                                </figure>
                                <div class="product-summary">
                                    <h4 class="productName">
                                        <%= product.name %>
                                    </h4>
                                    <h6 class="price">
                                        $<span class="priceValue">
                                            <%= product.price %>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    
                    <% }); %> 
                </div>
            </div>
        </section>

    
        <!-- Subscribe Button -->
        <div class="container-sub">
            <input type="radio" id="hide">
            <div class="box">
                <label for="hide"><i class="fas fa-times"></i></label>
                <div class="right">
                    <div class="text-1">VS Indumentaria</div>
                    <div class="text-2">Descuentos del 20% en tu primera compra</div>
                    <a href="" target="_blank">Subscribe</a>
                </div>
            </div>
        </div>



        <script src="/JS/script.js"></script>
        <script src="/JS/shopping-cart.js"></script>

        <%- include('../partials/footer') %>

    </body>

</html>