<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>
        </header>
        <h1 class="title-section">Lista de productos</h1>
        <section class="main-section">
            <div class="product-container">
                <div class="products">
                    <% products.forEach(product => { %>
                        <div class="product-under">
                            <figure class="product-image">
                                <% if (product.images[0]) { %>
                                <img src="/images/products/<%= product.images[0].name %>" />
                                <% } %>
                                <div class="product-over">
                                    <button class="btn btn-small addToCart" data-product-id="3">
                                        <i class="fas fa-cart-plus"></i>Agregar
                                    </button>
                                    <a href="/products/<%= product.id %>" class="btn btn-small">Detalles</a>
                                </div>
                            </figure>
                            <div class="product-summary">
                                <h4 class="productName"><%= product.name %></h4>
                                <p style="color: #000;"><%= product.description %></p>
                                <h6 class="price">
                                    $<span class="priceValue"><%= product.price %></span>
                                </h6>
                                <!--<h4 class="productName">Colores disponibles: </h4>
                                < product.colours.forEach(colour => {%>
                                    <h4 class="productName"><= colour.name %></h4>
                                <}); %> 
                                <h4 class="productName">Talles disponibles: </h4>
                                < product.sizes.forEach(size => {%>
                                    <h4 class="productName"><= size.name %></h4>
                                <});-->
                            </div>
                        </div>
                        
                        <% }); %> 
                    </div>
                </div>
            </section>
            <script src="/JS/script.js"></script>
            <script src="/JS/shopping-cart.js"></script>
            <%- include('../partials/footer') %>
        </body>
    </html>