
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/styles_creacion.css">
</head>
<body>
    <%- include('../partials/header') %>
    </header>
    <main class="main-container">
        <div class="crear-producto-container">
            <div class="titulo-crear-producto">
                <h2>Editar Producto</h2>
            </div>
            <div class="producto-container">
                <form action="/products/edit/<%=product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="nombre"><label for="name">Nombre</label><br>
                        <input type="text" name="name" id="name" placeholder=" <%= product.name %>">
                    </div>
                    <div class="precio"><label for="price">Precio</label><br>
                        <input type="number" name="price" id="price" placeholder=" <%= product.price %>  ">
                    </div>
                    <div class="categoria">
                        <label for="category">Categoria </label><br>
                        <select class="select-categoria" name="category" id="category">
                            <% categories.forEach(category => { %> 
                                <option value="<%= category.id %> "> <%= category.name %> </option>    
                            <% }); %>
                        </select>
                    </div>
                    <div class="title-color"><label for="color">Colores Disponibles</label></div>
                    <div class="color-container">
                        <% colours.forEach(colour => { %> 
                            <span><input type="checkbox" name="colour" id="colour" value="<%= colour.id %>"> <%= colour.name %>  </span>
                        <% }); %>
                    </div><br>
                    <div class="title-talles"><label for="waist">Talle</label></div><br>
                    <div class="talles-container">
                        <% sizes.forEach(size => { %> 
                            <span><input type="checkbox" name="size" id="size" value="<%= size.id %> "> <%= size.name %>  </span>    
                        <% }); %>
                    </div>
                    <div class="image-div">
                        <input type="file" name="image" id="image">
                    </div>
                    <div class="descripcion-producto">
                        <div class="title-description">
                            <label for="descripcion-producto">Descripcion del Producto</label>
                        </div>
                        <div>
                            <textarea name="description" id="description" cols="30" rows="10"
                                placeholder="¡<%= product.description %>  !"></textarea>
                        </div>
                    </div>
                    <div class="button-editar-producto">
                        <input type="submit" value="GUARDAR">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- <main class="main-container">
        <div class="editar-producto-container">
            <div class="titulo-editar-producto">

            <div class="producto-container">
                <form action="/">
                    <div > <h2>Edita los productos</h2>
                        <div class="estilos-input"><label for="nombre_producto">Nombre del Producto:</label>
                            <input type="text" name="nombre_producto" id="nombre_producto">
                        </div>
                    
                        <div class="estilos-input"><label for="imagenes-producto">Imagenes del Producto:</label>
                            <input type="file" name="imagenes-producto" >
                        </div>
                        <div class="estilos-input">
                            <label for="precio_producto">Precio :</label>
                            <input type="number" name="precio_producto" id="precio_producto">
                        </div>
                    
                        <div class="categoria estilos-input">
                            <label for="categoria">Categoria: </label>
                            <input type="text">
                        </div>
                        <div class="descripcion-producto">
                            <label for="descripcion-producto">Descripcion del Producto:</label>
                        </div>
                        <div>
                            <textarea name="descripcion-producto" id="descripcion-producto" cols="30" rows="10" placeholder="¡Escribe aqui la descripcion!"></textarea>
                        </div>
                        
                    </div>
                    <div class="button-editar-producto">
                        <input type="submit" value="Editar Producto">
                        <input type="submit" value="Cancelar">
                    </div>     
                </form>
            </div>
            </div>
        </div>
    </main> -->
    <script src="JS/script.js"></script>
    <script src="JS/shopping-cart.js"></script>
    <%- include('../partials/footer') %> 
</body>
</html>