<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/registerValidate.css">
    </head>

    <body>
        <%- include('../partials/header') %>
            </header>

            <div class="main-register-container1">
                <div class="register-container1">

                    <h2>Crear Cuenta</h2>
                    <form class="formulario_register" id="formulario_registro" action="/users/register" method="POST"
                        enctype="multipart/form-data">
                        <div class="data-account-container1">

                            <div class="personal-information-container1">

                                <h2>Datos Personales</h2>

                                <div class="formulario_grupo" id="grupo_name">
                                    <label class="label_incorrecto" for="name">Nombre</label>

                                    <div class="formulario_grupo-input">

                                        <input type="text" name="name" id="name" placeholder="Ej: Lucas Andrey" 
                                            class="formulario_input <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                            value="<%= locals.oldData ? oldData.name : null %>">

                                        <i class="formulario_validacionEstado fas fa-times-circle"></i>
                                    </div>
                                    <p class="formulario_inputError">(*) Debe contener al menos 4
                                        caracteres
                                    </p>
                                </div>
                                <% if (locals.errors && errors.name) { %>
                                    <div class="text-danger" style="color: red">
                                        <%= errors.name.msg %>
                                    </div>
                                    <% } %>

                                        <div class="formulario_grupo" id="grupo_last_name">
                                            <label class="label_incorrecto" for="last_name">Apellido</label>
                                            <div class="formulario_grupo-input">
                                                <input type="text" name="last_name" id="last_name"
                                                    placeholder="Ej:Morrone" 
                                                    class="formulario_input <%= locals.errors && errors.last_name? 'is-invalid' : null %>"
                                                    value="<%= locals.oldData ? oldData.last_name : null %>">
                                                <i class="formulario_validacionEstado fas fa-times-circle"></i>

                                            </div>

                                            <p class="formulario_inputError">(*) Debe contener al menos 4
                                                caracteres
                                            </p>
                                        </div>

                                        <% if (locals.errors && errors.last_name) { %>
                                            <div class="text-danger" style="color: red">
                                                <%= errors.last_name.msg %>
                                            </div>
                                            <% } %>

                                                <div class="formulario_grupo" id="grupo_date_birth">
                                                    <label class="label_incorrecto" for="date_birth">Fecha de
                                                        Nacimiento</label>

                                                    <div class="formulario_grupo-input">
                                                        <input type="date" name="date_birth" id="date_birth"
                                                            value="2022-02-11" min="1920-08-02" max="2022-08-12"
                                                            class="formulario_input <%= locals.errors && errors.date_birth ? 'is-invalid' : null %>"
                                                            value="<%= locals.oldData ? oldData.date_birth : null %>">

                                                        <i class="formulario_validacionEstado fas fa-times-circle"></i>

                                                    </div>
                                                    <p class="formulario_inputError">(*) Debe contener al menos 2
                                                        caracteres
                                                    </p>
                                                </div>


                                                <% if (locals.errors && errors.date_birth) { %>
                                                    <div class="text-danger" style="color: red">
                                                        <%= errors.date_birth.msg %>
                                                    </div>
                                                    <% } %>

                                                        <div class="formulario_grupo" id="grupo_gender">
                                                            <label class="label_incorrecto" for="gender">Genero</label>

                                                            <div class="formulario_grupo-input">
                                                                <select name="gender" id="gender"
                                                                    class="formulario_input <%= locals.errors && errors.gender ? 'is-invalid' : null %>"
                                                                    value="<%= locals.oldData ? oldData.gender : null %>">
                                                                    <option value="">Seleccionar</option>
                                                                    <option value="woman">Mujer</option>
                                                                    <option value="man">Hombre</option>
                                                                    <option value="binary">Binario</option>
                                                                    <option value="notimport">No importa</option>
                                                                </select>
                                                                <i
                                                                    class="formulario_validacionEstado fas fa-times-circle"></i>

                                                            </div>
                                                        </div>
                                                        <p class="formulario_inputError">(*) Debe contener al menos 2
                                                            caracteres</p>

                                                        <% if (locals.errors && errors.gender) { %>
                                                            <div class="text-danger" style="color: red">
                                                                <%= errors.gender.msg %>
                                                            </div>
                                                            <% } %>

                                                                <div class="formulario_grupo" id="grupo_phone">
                                                                    <label class="label_incorrecto"
                                                                        for="phone">Telefono</label>

                                                                    <div class="formulario_grupo-input">
                                                                        <input type="number" name="phone" id="phone"
                                                                            placeholder="Telefono"
                                                                            class="formulario_input <%= locals.errors && errors.phone ? 'is-invalid' : null %> "
                                                                            value="<%= locals.oldData ? oldData.phone : null %>">
                                                                        <i
                                                                            class="formulario_validacionEstado fas fa-times-circle"></i>

                                                                    </div>
                                                                    <p class="formulario_inputError">(*) Debe contener de 7 a 14 digitos</p>
                                                                </div>


                                                                <% if (locals.errors && errors.phone) { %>
                                                                    <div class="text-danger" style="color: red">
                                                                        <%= errors.phone.msg %>
                                                                    </div>
                                                                    <% } %>
                            </div>


                            <div class="account-container1">
                                <h2>Sobre tu Cuenta</h2>

                                <div class="formulario_grupo" id="grupo_email">
                                    <label class="label_incorrecto" for="email">Email</label>

                                    <div class="formulario_grupo-input">
                                        <input class="formulario_input" type="email" name="email" id="email"
                                            placeholder="dh@digitalHouse.com"
                                            class="formulario_input <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                            value="<%= locals.oldData ? oldData.email : null %>">
                                        <i class="formulario_validacionEstado fas fa-times-circle"></i>

                                    </div>
                                    <p class="formulario_inputError">(*) Debe ingresar un email válido</p>
                                </div>

                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger" style="color: red">
                                        <%= errors.email.msg %>
                                    </div>
                                    <% } %>

                                        <div class="formulario_grupo" id="grupo_confirm_email">
                                            <label class="label_incorrecto" for="confirm_email">Confirmar Email</label>

                                            <div class="formulario_grupo-input">
                                                <input class="formulario_input" type="email" name="confirm_email"
                                                    id="confirm_email" placeholder="Ingrese mail anterior">
                                                <i class="formulario_validacionEstado fas fa-times-circle"></i>

                                            </div>
                                            <p class="formulario_inputError">(*) El email debe coincidir</p>

                                        </div>

                                        <% if (locals.errors && errors.confirm_email) { %>
                                            <div class="text-danger" style="color: red">
                                                <%= errors.confirm_email.msg %>
                                            </div>
                                            <% } %>

                                                <div class="formulario_grupo" id="grupo_password">
                                                    <label class="label_incorrecto" for="password">Ingrese una
                                                        contraseña</label>

                                                    <div class="formulario_grupo-input">
                                                        <input class="formulario_input" type="password" name="password"
                                                            id="password" placeholder="Ingresar contraseña">
                                                <i class="formulario_validacionEstado fas fa-times-circle"></i>

                                                    </div>
                                                    <p class="formulario_inputError">(*) Debe contener una letra mayúscula, una minúscula, un número y un carácter especial
                                                    </p>
                                                </div>

                                                <% if (locals.errors && errors.password) { %>
                                                    <div class="text-danger" style="color: red">
                                                        <%= errors.password.msg %>
                                                    </div>
                                                    <% } %>

                                                        <div class="formulario_grupo" id="grupo_confirm_password">
                                                            <label class="label_incorrecto"
                                                                for="confirm-password">Confirmar Contraseña</label>
                                                            <div class="formulario_grupo-input">
                                                                <input class="formulario_input" type="password"
                                                                    name="confirm_password" id="confirm_password"
                                                                    placeholder="Repetir contraseña">
                                                                <i
                                                                    class="formulario_validacionEstado fas fa-times-circle"></i>
                                                            </div>
                                                            <p class="formulario_inputError">(*) Ambas contraseñas deben coincidir</p>
                                                        </div>

                                                        <% if (locals.errors && errors.confirm_password) { %>
                                                            <div class="text-danger" style="color: red">
                                                                <%= errors.confirm_password.msg %>
                                                            </div>
                                                            <% } %>

                                                                <div class="formulario_grupo" id="grupo_interest">
                                                                    <label class="label_incorrecto"
                                                                        for="interests">¿Cuales son tus
                                                                        intereses?</label>
                                                                    <div class="formulario_grupo-input">
                                                                        <select name="interests" id="interests"
                                                                            class="formulario_input <%= locals.errors && errors.interests ? 'is-invalid' : null %>"
                                                                            value="<%= locals.oldData ? oldData.interests : null %>">
                                                                            <option value="">Seleccionar</option>
                                                                            <option value="fashion">Moda</option>
                                                                            <option value="running">Running</option>
                                                                            <option value="soccer">Futbol</option>
                                                                            <option value="sports">Deportes</option>
                                                                        </select>
                                                                        <i
                                                                            class="formulario_validacionEstado fas fa-times-circle"></i>
                                                                    </div>
                                                                    <p class="formulario_inputError">(*) Debe contener
                                                                        al
                                                                        menos 2 caracteres</p>
                                                                </div>

                                                                <% if (locals.errors && errors.interests) { %>
                                                                    <div class="text-danger" style="color: red">
                                                                        <%= errors.interests.msg %>
                                                                    </div>
                                                                    <% } %>

                                                                    <div class="formulario_grupo" id="grupo_image" >

                                                                        <label class="label_incorrecto" for="image">Foto de perfil</label><br><br>
                                                                        <div class="imagePerfil-div formulario_grupo-input">
                                                                            
                                                                            <input class="formulario_input" type="file"
                                                                            name="image" id="image"
                                                                            class="formulario_input <%= locals.errors && errors.image ? 'is-invalid' : null %>"
                                                                            value="<%= locals.oldData ? oldData.image : null %>">
                                                                            <i class="formulario_validacionEstado fas fa-times-circle"></i>
                                                                        </div>
                                                                        <p class="formulario_inputError">(*) Las extensiones de archivos permitidas son .jpg, .jpeg, .png, .git, .bmp, .tiff, .psd</p>
                                                                        </div>
                                                                        <% if (locals.errors && errors.image) { %>
                                                                            <div class="text-danger" style="color: red">
                                                                                <%= errors.image.msg %>
                                                                            </div>
                                                                            <% } %>
                            </div>
                        </div>
                        <div class="determination-container1">
                            <div class="determination-condition formulario_grupo">
                                <label for="determination">
                                    <input class="formulario_checkbox" type="checkbox" name="determination"
                                        id="terminos" value="true">Acepto las
                                    <a href="/">Politicas de Privacidad</a> y
                                    <a href="/">Terminos y Condiciones.</a>
                                </label>
                            </div>

                        </div>
                        <div class="formulario_mensaje" id="formulario_mensaje">
                            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor completa el
                                formulario correctamente</p>
                        </div>

                        <div class="create-account1 formulario_grupo">
                            <button class="formulario_btn" type='submit'>Registrarse</button>
                        </div>
                        <p class="formulario_mensajeExito" id="formulario_mensajeExito"> Usuario registrado
                            exitosamente!</p>

                    </form>
                </div>
            </div>

            <script src="/JS/registerValidate.js"></script>
            <script src="/JS/script.js"></script>
            <script src="/JS/shopping-cart.js"></script>
            <%- include('../partials/footer') %>
    </body>